.box{
    background-color: rgb(228,82,111);
    margin:20px;
    padding: 0.75em;
    /* padding: 1.5em; */
  color:white;
  width: 60em;
  height:40vh;
  border-radius: 1.5em;
  box-shadow: 0 0 0 0.4em #171717 inset;
}
.search-box{
  background-color: rgb(228,82,111);
  color:white;
  /* background: transparent; */
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #171717 inset;
	padding: 0.75em;
  margin-top: 10px;
  /* margin: auto; */
	padding: 1.5em;
	/* justify-content: center; */
	max-width: 30em;
}
.pic{
  width:80px;
  border-radius: 50%;
  float:left;
  margin-top:30px;
  margin-left:30px;
}