.Foot{
    bottom: 0;
   position: fixed;
    background-color: rgb(228,82,111);
    width:100%;
    height:6vh;
    padding:2px;
    align-content: center;
}
.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: rgb(18,86,136);
    color: white;
  }